.catalog {
  margin-bottom: 100px;
}

.catalog__title {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 26px;
}

.catalog__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog__filter-items button {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;
  padding: 5px 22px;
  background: #f0f0f4;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.catalog__filter-items button + button {
  margin-left: 10px;
}

.catalog__filter-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.catalog__filter-btn button + button {
  margin-left: 10px;
}

button.catalog__filter-btngrid {
}

button.catalog__filter-btnline {
}

.catalog__inner {
  display: flex;
}

.catalog__inner-aside {
  min-width: 290px;
  margin-right: 10px;
}

.catalog__inner-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__inner-list .product-item__wrapper {
  margin-bottom: 30px;
}

.product-item__img {
  max-width: 100%;
}

.pagination {
  width: 100%;
  margin-top: 70px;
}

.pagination-list {
  display: flex;
  justify-content: center;
}

.pagination-list__item {
  padding: 6px 12px;
  border: 2px solid transparent;
  margin: 0 4px;
  font-size: 18px;
  line-height: 22px;
  color: #c4c4c4;
}

.pagination-list__item.active {
  border: 2px solid #1c62cd;
  color: #1c62cd;
}

.pagination-list__item a {
  display: block;
}

.aside-filter__tabs {
  display: flex;
  justify-content: space-between;
}

.aside-filter__tab {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #c4c4c4;
  width: 50%;
  cursor: pointer;
}

.aside-filter__tab.react-tabs__tab--selected {
  font-family: 'SFProDisplay-Bold', sans-serif;
  color: #2f3035;
  font-weight: 700;
}

.aside-filter__tab.react-tabs__tab--selected span {
  display: inline-block;
  border-bottom: 2px solid #1c62cd;
  padding-bottom: 7px;
}

.aside-filter__item-drop {
  margin: 40px 0;
}

.aside-filter__item-title {
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-left: 26px;
}

.filter__item-drop {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.filter__item-drop::before {
  content: '';
  background-image: url(../assets/arrow-down.svg);
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 12px;
  height: 8px;
  transform: rotate(0deg);
}

.filter__item-drop--active::before {
  transform: rotate(180deg);
}

.aside-filter__item-content {
  display: flex;
}

.aside-filter__content-box {
  width: 50%;
}

.aside-filter__content-label {
  font-size: 14px;
  line-height: 17px;
}

// input checkbox
input[type='checkbox']:checked,
input[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type='checkbox']:checked + label,
input[type='checkbox']:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
  border-radius: 2px;
}

input[type='checkbox']:checked + label:after,
input[type='checkbox']:not(:checked) + label:after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type='checkbox']:checked + label:after,
input[type='checkbox']:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #1c62cd;
  border-bottom: 4px solid #1c62cd;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
}

input[type='checkbox']:checked + label:after {
  opacity: 1;
}

/// =>
