.catalog {
  margin-bottom: 100px;
}

.catalog__title {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 26px;
}

.catalog__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog__filter-items button {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;
  padding: 5px 22px;
  background: #f0f0f4;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.catalog__filter-items button + button {
  margin-left: 10px;
}

.catalog__filter-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.catalog__filter-btn button + button {
  margin-left: 10px;
}

button.catalog__filter-btngrid {
}

button.catalog__filter-btnline {
}

.catalog__inner {
  display: flex;
}

.catalog__inner-aside {
  min-width: 290px;
  margin-right: 10px;
}

.catalog__inner-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__inner-list .product-item__wrapper {
  margin-bottom: 30px;
}

.product-item__img {
  max-width: 100%;
}

.pagination {
  width: 100%;
  margin-top: 70px;
}

.pagination-list {
  display: flex;
  justify-content: center;
}

.pagination-list__item {
  padding: 6px 12px;
  border: 2px solid transparent;
  margin: 0 4px;
  font-size: 18px;
  line-height: 22px;
  color: #c4c4c4;
}

.pagination-list__item.active {
  border: 2px solid #1c62cd;
  color: #1c62cd;
}

.pagination-list__item a {
  display: block;
}

.aside-filter__tabs {
  display: flex;
  justify-content: space-between;
}

.aside-filter__tab {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #c4c4c4;
  width: 50%;
  cursor: pointer;
}

.aside-filter__tab.react-tabs__tab--selected {
  font-family: 'SFProDisplay-Bold', sans-serif;
  color: #2f3035;
  font-weight: 700;
  outline: none;
}

.aside-filter__tab.react-tabs__tab--selected span {
  display: inline-block;
  border-bottom: 2px solid #1c62cd;
  padding-bottom: 7px;
}

.aside-filter__item-drop {
  margin: 40px 0;
}

.aside-filter__item-title {
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-left: 26px;
}

.filter__item-drop {
  position: relative;
  cursor: pointer;
}

.filter__item-drop::before {
  content: '';
  background-image: url(../assets/arrow-down.svg);
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 12px;
  height: 8px;
  transform: rotate(0deg);
}

.filter__item-drop--active::before {
  transform: rotate(180deg);
}

.aside-filter__item-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  transform: translateY(-150%);
  animation: ani 1s forwards;
}

@keyframes ani {
  0% {transform: translateY(-150%);}
  100% {transform: translateY(0);}
}

.aside-filter__content-box {
  width: 50%;
  margin-bottom: 10px;
}

.aside-filter__content-label {
  font-size: 14px;
  line-height: 17px;
}

// input checkbox
.checkbox.style-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox.style-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox.style-checkbox input:checked~.checkbox__checkmark {
  background-color:#1C62CD;
}

.checkbox.style-checkbox input:checked~.checkbox__checkmark:after {
  opacity: 1;
}

.checkbox__checkmark.radio__checkmark::after   {
  display: none;
}

.checkbox.style-checkbox:hover input~.checkbox__checkmark {
  background-color: #cbcccc;
}

.checkbox.style-checkbox:hover input:checked~.checkbox__checkmark {
  background-color: #1C62CD;
}

.checkbox.style-checkbox .checkbox__checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  transition: background-color 0.25s ease;
  border-radius: 4px;
  border: 1px solid #C4C4C4;
}

.checkbox.style-checkbox .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}

.checkbox.style-checkbox .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 14px;
}

/// =>

.aside-filter__item-content.aside-filter__item-content-radio {
  flex-wrap: nowrap;
}


.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 9px;
  bottom: 16px
}

.horizontal-slider .example-track {
  top: 20px;
  height: 2px;
}

.example-track.example-track-0 {
  background: #e0e0e0;
}

.example-track.example-track-1 {
  background: #1c62cd;
}

.example-track.example-track-2 {
  background: #e0e0e0;
}

.horizontal-slider .example-thumb {
  top: 16px;
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 5px;
  text-align: center;
  background-color: black;
  color: black;
  cursor: pointer;
  border: 5px solid #1c62cd;
  box-sizing: border-box;
}

.range-parameters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  color: #C4C4C4;
}

.range-parameters span {
  color: #2F3035;
  text-decoration: underline;
}

.aside-filter__item-list {
  margin: 46px 0 40px;
}

.filter__item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #C4C4C4; 
  padding-top: 34px;
}

.filter__item-list--title {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding-left: 26px;
}

.filter__item-list--select {
  font-family: 'Barlow', sans-serif;
  color: #48494D;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}


.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1fdsijx-ValueContainer,
.css-1xc3v61-indicatorContainer {
  padding: 1px !important;
}

.css-15lsz6c-indicatorContainer {
  padding: 1px !important;
}

.filter-more {
  width: 100%;
}

.filter-more__btn {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #1C62CD;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1C62CD;
  padding: 0;
}

.filter-search {
  border: 1px solid #E0E0E0;
  padding: 0 20px;
  width: 100%;
  height: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.filter-search::placeholder {
  color: #BDBEC2;
}

.btn-checked .aside-filter__item-content {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.btn-checked .aside-filter__content-box {
  width: auto;
}

.btn-checked .checkbox {
  position: relative;
  background-color: #F0F0F4;
  height: 25px;
  width: 63px;
  color: #C4C4C4;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.btn-checked .checkbox__checkmark {
  height: 25px !important;
  width: 63px !important;
  border: none !important;
}


.btn-checked .checkbox.style-checkbox .checkbox__checkmark {
  background-color: #F0F0F4;
}

.btn-checked .checkbox.style-checkbox .checkbox__checkmark:after {
  display: none;
}

.btn-checked input:checked ~ .checkbox__body .btn-checked__text {
  color: #fff;
}

.btn-checked__text {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
}