.product__title {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2f3035;
  margin-bottom: 25px;
}

.product-item__wrapper {
  position: relative;
  width: 265px;
}

.product-item {
  min-height: 403px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  transition: all 0.5s;
}

.product-item__title {
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 0 25px;
}

.product-item__price {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.product-item__heart {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 5;
}

.product-item__heart::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 22px;
  top: 0;
  left: 0;
  background-image: url(../assets/heart.svg);
}

.product-item__heart--active::before {
  background-image: url(../assets/heart-active.svg);
}

.product-item__basket {
  position: absolute;
  padding: 10px 16px 8px 14px;
  width: 60px;
  height: 40px;
  border-radius: 10px 0px 0px 0px;
  bottom: 0;
  right: 0;
  background-color: #1c62cd;
  border: none;
  cursor: pointer;
}

.product-item__hover-text {
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  padding: 17px 21px;
  position: absolute;
  top: 122px;
  display: inline-block;
  opacity: 0;
  transition: all 0.5s;
}

.product-item:hover .product-item__hover-text {
  opacity: 1;
  color: #2f3035;
}

.product-item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  color: #1c62cd;
}

.product-item:hover .product-item__notify-text {
  color: #2f3035;
}

.product-item--sale::before {
  content: 'SALE';
  padding: 8px 15px;
  background-color: #1c62cd;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-family: 'SFProDisplay-Regular', sans-serif;
}

.product-item__wrapper.product-item__not-available .product-item__price {
  display: none;
}

.product-item__notify-text {
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
  display: block;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
  display: none;
}

.product-item__notify-link {
  display: none;
}

.product-item__wrapper.product-item__not-available .product-item__title {
  padding-bottom: 13px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #1c62cd;
}

.product-item__wrapper.product-item__not-available
  .product-item__notify-link
  span {
  border-bottom: 1px solid #1c62cd;
}

.products__tab + .products__tab {
  margin-left: 50px;
}

.products__tabs {
  margin-bottom: 25px;
  display: flex;
}

.products__tab {
  padding-bottom: 10px;
  outline: none;
  cursor: pointer;
}

.products__tab.react-tabs__tab--selected {
  border-bottom: 2px solid #1c62cd;
}

.product-slider .swiper-button-prev,
.swiper-button-next {
  color: black !important;
}

.swiper-wrapper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-next {
  background-image: url(../assets/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../assets/arrow-left-black.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.product__more {
  text-align: center;
  margin: 35px 0 0;
}

.product__more-link {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background-color: #f0f0f4;
  padding: 16px 43px;
}
