.search__tabs {
  margin-bottom: 25px;
}

.search__tabs_item {
  padding: 11px 26px 12px;
}

.search__tabs_item--active {
  font-family: 'SFProDisplay-Bold', sans-serif;
  background-color: #f0f0f4;
  border-radius: 5px;
  font-weight: 700;
}

.search__content_item {
  display: block;
}

.search__content_form {
  display: flex;
}

.search__content_input {
  width: 100%;
  border-radius: 3px;
  background-color: #f0f0f4;
  padding: 5px 20px;
  border: none;
  font-size: 16px;
  line-height: 19px;
}

.search__content_input::placeholder {
  color: #656464;
}

.search__content_btn {
  font-family: 'SFProDisplay-Bold', sans-serif;
  color: #fff;
  background: #1c62cd;
  border-radius: 3px;
  padding: 16px 41px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: none;
  margin-left: -3px;
}
